#menu-container {
    --shape-circle: 50%;
    /* Test */
    -webkit-transform:translate3d(0,0,0);
}

#menu-container {
    --dimensions: 300px;
    height: var(--dimensions);
    left: calc(50% - (var(--dimensions) / 2));
    position: absolute;
    top: calc(50% - (var(--dimensions) / 2));
    width: var(--dimensions);
    transform-origin: center;
    transform: rotate(45deg);
}

#menu-container button {
    --dimensions: 115px;
    background-color: transparent;
    border: none;
    border-radius: var(--shape-circle);
    height: var(--dimensions);
    outline: none;
    padding: 0;
    transform-origin: center;
    width: var(--dimensions);
}

#menu-container button#primary-menu-button {
    --dimensions: 100px;
    position: absolute;
    left: calc(50% - (var(--dimensions) / 2));
    top: calc(50% - (var(--dimensions) / 2));
    transform: rotate(-45deg);
    z-index: 1;
}

#menu-container .quadrant {
    align-items: center;
    display: flex;
    float: left;
    height: 50%;
    justify-content: center;
    transform: rotate(-45deg);
    width: 50%;
}

#menu-container .quadrant button {
    --opacity: 0;
    --translate-values: 75px;
    --translate-values-neg: -75px;

    opacity: var(--opacity);
    transition-property: opacity transform;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, .9, .1, 1);
}

#menu-container .quadrant button.active {
    --opacity: 1;
    --translate-values: 0;
    --translate-values-neg: 0;

    transition-duration: 1s;
}

#menu-container .quadrant.upper button {
    transform: translate(0, var(--translate-values));
    transition-delay: .08s;
}

#menu-container .quadrant.right button {
    transform: translate(var(--translate-values-neg), 0);
    transition-delay: .16s;
}

#menu-container .quadrant.left button {
    transform: translate(var(--translate-values), 0);
}
