html {
  text-rendering: optimizeSpeed;
}
body {
  font-family: 'IBM Plex Sans';
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'IBM Plex Sans Condensed';
  font-weight: 700;
  text-transform: uppercase;
}
p {
  max-width: 768px;
}
p.numericals {
  font-family: 'IBM Plex Mono';
}
