:root {
    --frame-brightness-interval: 0;
    --frame-dim-point: 0;
    --frame-bright-point: 0;
}

.ro-frame-corners {
    animation-name: frame-corners-flicker-animation;
    animation-duration: var(--frame-brightness-interval);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes frame-corners-flicker-animation {

    0% {
        opacity: var(--frame-dim-point);
    }

    100% {
        opacity: var(--frame-bright-point);
    }
}
