#planet-surface {
    height: 100vh;
    width: 100vw;
}

#planet-surface-image {
    --scanSensorInputX: 0;
    --scanSensorInputY: 0;
    --scanDuration: 0;

    animation-direction: alternate;
    animation-duration: var(--scanDuration);
    animation-iteration-count: infinite;
    animation-name: scanningSurface;
    animation-timing-function: linear;
    display: block;
    opacity: .7;
}

.portrait img {
    width: 100%;
}

.landscape img {
    height: 100%;
}

img.fill-width {
    height: auto;
    width: 100%;

}

img.fill-height {
    height: 100%;
    width: auto;
}

@keyframes scanningSurface {

    from {
        transform: translate(
            var(--scanSensorInputX),
            var(--scanSensorInputY)
        );
    }

    to {
        transform: translate(0, 0);
    }
}
