#planet-surface {
    height: 100vh;
    position: relative;
    width: 100vw;
}

#planet-surface-image {
    /* BEGIN ANIMATING */
}

#planet-surface-image.fill-width {
    width: 100%;
}

#planet-surface-image.fill-height {
    height: 100%;
}
